<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287903672352-9roj8oi48pdalmpg8u4sbd6o0lfk3no1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287903672352-9roj8oi48pdalmpg8u4sbd6o0lfk3no1</string>
	<key>API_KEY</key>
	<string>AIzaSyCFJJZf0IWeDqrsKYHaFpfXXZBKcmWyTs4</string>
	<key>GCM_SENDER_ID</key>
	<string>287903672352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-project-cbfef</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-project-cbfef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287903672352:ios:40c3c96104afb3c4c23445</string>
</dict>
</plist>